aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
beautifulsoup4==4.9.3
bilibili-api==9.1.0
Brotli==1.0.9
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.42.1
idna==3.4
imageio==2.31.3
importlib-resources==6.0.1
jieba==0.42.1
kiwisolver==1.4.5
lxml==4.6.5
matplotlib==3.7.3
multidict==6.0.4
numpy==1.24.4
openpyxl==3.1.2
packaging==23.1
panda==0.3.1
pandas==2.0.3
Pillow==10.0.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.15
wordcloud==1.9.2
yarl==1.9.2
zipp==3.16.2
